{% extends "base.html.twig" %}

{% block body %}

    <div class="row text-center">
        <h1>Exporter les stats</h1>
    </div>
    {{ form_start(form) }}
        <div class="form-group">

        </div>
    {{ form_end(form) }}

{% endblock %}